In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator

In [2]:
data = pd.read_csv('testData2.csv') # 就是Financial Loan 数据去除了文本

In [3]:
data

,Id,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,3,13,0
1,2,7574516,40,10,9,13,0
2,3,3991815,66,4,4,10,0
3,4,6256451,41,2,2,12,1
4,5,5768871,47,11,3,14,1
...,...,...,...,...,...,...,...
251995,251996,8154883,43,13,6,11,0
251996,251997,2843572,26,10,6,11,0
251997,251998,4522448,46,7,7,12,0
251998,251999,6507128,45,0,0,10,0
251999,252000,9070230,70,17,7,11,0

In [4]:
data = data.drop('Id',axis=1)
data = data.dropna(axis=0,how='any')
data = data.sort_values('Risk_Flag')

In [5]:
temp = data.values
length = len(temp)
index = -1
for i in range(len(temp)):
    if temp[i][-1] == 1:
        index = i
        break

In [6]:
index

221004

In [7]:
data = data.sample(frac=0.1)
data = data.values[:5000]

In [8]:
def euclDistance(d1, d2):
    return sum((d1 - d2)**2)**0.5

In [9]:
def initCentroids(dataSet, k):
    numSamples, dim = dataSet.shape
    centroids = np.zeros((k, dim))
    i_1 = random.randint(0, index)
    i_2 = random.randint(index+1, length)
#     print("i1 = {}, i2 = {}".format(i_1, i_2))
    centroids[0, :] = temp[i_1, :]
    centroids[1, :] = temp[i_2, :]
    return centroids

In [10]:
def kmeans(dataSet, k):
    m = np.shape(dataSet)[0]  #行的数目
    clusterAssment = np.mat(np.zeros((m,2)))
    clusterChange = True
    # 第1步 初始化centroids
    centroids = initCentroids(dataSet,k)
    clazz = [[], []]
    while clusterChange:
        clusterChange = False
        # 遍历所有的样本（行数）
        for i in range(m):
            minDist = float('inf')
            minIndex = -1
            for j in range(k):
                distance = euclDistance(centroids[j,:-1],dataSet[i,:-1])
                if distance < minDist:
                    minDist = distance
                    minIndex = j
            # 将所属类比保留在clazz类中，用于计算准确率
            clazz[minIndex].append(dataSet[i])
            if clusterAssment[i,0] != minIndex:
                clusterChange = True
                clusterAssment[i,:] = minIndex,minDist
        #第 4 步：更新质心
        for j in range(k):
            pointsInCluster = dataSet[np.nonzero(clusterAssment[:,0].A == j)[0]]  # 获取簇类所有的点
            centroids[j,:] = np.mean(pointsInCluster,axis=0)   # 对矩阵的行求均值
    print("Over!")
    return centroids,clusterAssment, clazz

In [11]:
_, __, clazz = kmeans(data, 2)

Congratulations,cluster complete!

In [15]:
s = 0
for i in clazz[0]:
    s += i[-1]
s

4194

In [16]:
len(clazz[0])

32362

In [21]:
s*100/len(clazz[0])

12.959644026945183